body{
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: #f4f9ff; 
    font-family: 'Segoe UI', sans-serif; 
}

.hero{ 
    /* background: linear-gradient(to right, #007BBD, #00B4DB);  */
    background: url('/img/water_bg2.png');
    color: white; 
    padding: 100px 0; 
    text-align: center; 
}

.hero h1{ 
    font-size: 3rem; 
}

.section-title{ 
    color: #007BBD; 
    font-weight: 700; 
    margin-bottom: 1rem; 
}

.section-title-white{ 
    color: #fff; 
    font-weight: 700; 
    margin-bottom: 1rem; 
}

.btn-primary{ 
    background-color: #007BBD; 
    border-color: #007BBD; 
}

.logo{ 
    max-width: 100px; 
}

.mascote{ 
    max-width: 150px; 
}

.prods_cont img{
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

marquee{
    width: 100%;
    padding: .6rem;
}
marquee img{
    max-width: 150px;
}

footer{ 
    background-color: #003d66; 
    color: white; 
    padding: 30px 0; 
}


.marquee-container {
      overflow: hidden;
      white-space: nowrap;
      box-sizing: border-box;
      width: 100%;
      background: none;
}

.marquee-content {
    display: inline-block;
    gap: 20px;
    padding-left: 100%; /* começa fora da tela */
    animation: marquee 15s linear infinite;
}

.marquee-content img{
    max-width: 20vh;
    object-fit: contain;
}

@keyframes marquee {
    from {
    transform: translateX(0%);
    }
    to {
    transform: translateX(-220%);
    }
}

/* Duplique o conteúdo para criar o loop contínuo */
.marquee-content span {
    display: inline-block;
    padding-right: 100%; /* espaço entre os dois blocos duplicados */
}


/* From Uiverse.io by kandalgaonkarshubham */ 
.patt_cat  {
  width: 100%;
  height: 100%;

  background: #fff;
  --gap: 5em;
  --line: 1px;
  --color: rgba(0, 0, 0, 0.37);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
  background-size: var(--gap) var(--gap);
}

